{% extends "padre.html" %}

{% load static %}




{% block contenido %}
<p></p>
<h2>Listado de Cursos</h2>
<table>
    {% if request.user.is_authenticated %}
    <td><a href={% url "alta_curso" %} class="btn btn-success">Nuevo</a></td>
    {% endif %}
    <td><a href={% url "buscar_curso" %} class="btn btn-light">Buscar</a></td>


</table>

<div class="row g-0">
    <div class="col-lg-12 col-md-8 col-sm-6 .col-md-8">
        <div class="table-responsive">
            <table class="table table-striped" >
        <thead>
            <tr>
                <th>Curso</th>
                <th>Camada</th>
                <th colspan="2">Opciones</th>
            </tr>

        </thead>

        <tbody>
        {% for c in cursos %}
        <tr>
            <td>{{c.curso}}</td>
            <td>{{c.camada}}</td>
            
            <td><a href={% url "detalles_curso" c.id %} class="btn btn-secondary">Mas info del curso</a></td>
            {% if request.user.is_authenticated %}
            <td><a href={% url "edicion_curso" c.id %} class="btn btn-secondary">Editar</a></td>
            <td><a href={% url "eliminar_curso" c.id %} class="btn btn-danger">Eliminar</a></td>
            {% endif %}
        </tr>

    {% endfor %}

    </tbody>

            </table>
        
        </div>
  </div>

{% endblock %}