{% extends "padre.html" %}

{% load static %}



{% block contenido %}
<p></p>

<div class="site-section bg-blue">
    <div class="container">
    <div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
    <img src="{% static "estudiantes_app/images/cuatro.jpg" %}" alt="Image">
   
    </div>
    <div class="col-md-5 ml-auto pl-md-5">
    <span class="text-cursive h5 text-red">Que se aprende en ITA</span>
    <h3 class="text-black">Robotica y programacion para niños</h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, magni sequi nostrum maxime enim.</span><span>Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis praesentium voluptatem accusamus, earum veritatis, laudantium.</span></p>
    <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">Mas informacion</a></p>
    </div>
    </div>
    </div>
    </div>
    <p></p>
    <p></p>
    <p></p>

<div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0">
    <div class="package text-center bg-white">
    <span class="img-wrap"><img src="{% static "estudiantes_app/images/dos.jpg" %} "alt="Image" class="img-fluid" data-pagespeed-url-hash="249221587" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></span>
    <h3 class="text-teal">Robotica para niños</h3>
    <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
    <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
    </div>
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
    <div class="package text-center bg-white">
    <span class="img-wrap"><img src="{% static "estudiantes_app/images/hero_1.jpg" %}" alt="Image" class="img-fluid" data-pagespeed-url-hash="2380498250" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></span>
    <h3 class="text-success">Programacion con CodeSpark</h3>
    <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
    <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
    </div>
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
    <div class="package text-center bg-white">
    <span class="img-wrap"><img src="{% static "estudiantes_app/images/img_1.jpg" %}" alt="Image" class="img-fluid" data-pagespeed-url-hash="2687486724" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></span>
    <h3 class="text-danger">Diseño de Videojuegos</h3>
    <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
    <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}

